/*Cabeçalho*/
header img {
    height: 70px;
    width: 50px;
}

/*Conteúdo Principal*/
main {
    min-height: 500px;
}

/*Banners*/
#section-banners img {
    height: 500px;  
}

/*Novidades*/
#section-novidades {
    text-align: center;
}

#section-novidades h2 {
    font-weight: bold;
    padding: 15px;
}

#section-novidades img {
    height: 300px;
    border-radius: 5px;
}

#section-novidades .card {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#section-novidades .preco {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

/*Categorias*/
#section-categorias {
    text-align: center;
}

#section-categorias h2 {
    font-weight: bold;
    padding: 15px;
}

#section-categorias img {
    height: 90px;
    margin: auto;
    border-radius: 5px;
}

#section-categorias .card-group {
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 50px;
}

/*Rodapé*/
footer {
    text-align: center;
}

footer p {
    font-weight: bold;
    padding: 10px;
}

/*Botão de Voltar ao Topo*/
#voltar-topo {
    position: fixed;
    bottom: 5px;
    right: 50px;
}

/*Página de Login*/
#section-login {
    margin-top: 100px;
}

#section-login h1 {
    text-align: center;
}

#section-login input {
    width: 100%;
}

/*Formulário de Cadastro*/
#section-cadastro {
    padding: 5px;
    text-align: center;
    background-color: #fff;
}

#form-cadastrar {
    padding: 50px;
    display: none;
}